services:
  # start using: `sudo podman-compose -f docker-compose.production.yml up -d`
  keystonejs-production:
    build: .
    volumes:
      - ./keystonejs-backend/data:/app/keystonejs-backend/data
      - ./keystonejs-backend/public/files:/app/keystonejs-backend/public/files
      - ./keystonejs-backend/public/images:/app/keystonejs-backend/public/images
    ports:
      - "3000:3000"
