---
pagination:
  data: local.months
  size: 1
  alias: month
permalink: "{{ month.language }}/agenda/{{ month.year }}-{{ month.month }}/"
layout: layout.njk
---
<article>
    {% for year in local.years %}
        <button class="outline" onclick="opendialog(event)">
            {{ year }}
            <dialog>
            <article>
                {% for month2 in [["jan", 1],["feb", 2],["mar", 3],["apr", 4],["may", 5],["jun", 6],["jul", 7],["aug", 8],["sep", 9],["oct", 10],["nov", 11],["dec", 12]] %}
                    <p><a href="/{{ month.language }}/agenda/{{ year }}-{{ month2[1] }}">{{ month2[0] }}</a></p>
                {% endfor %}
            </article>
        </<dialog>
        </button>
    {% endfor %}
</article>
<article>
    <h1>{{ month.year }}-{{ month.month }}</h1>
</article>
<script>
function opendialog(event) {
    let dialog = event.currentTarget.querySelector('dialog');
    console.log(dialog)
    if (dialog.open)
        dialog.close();
    else
        dialog.showModal();
}
</script>
<div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr">
    {% for day in month.days %}
        <article {% if day.padding %} disabled {% else %} onclick="opendialog(event)" {% endif %} class="calander-day">
            <p style="margin-bottom: 2%">{{ day.date.getDate() }}</p>
            <div>
                {% for item in day.events %}
                    <small style="text-wrap: nowrap">{{ item.label[month.language] }}</small>  <!-- {{ item.start_time }}-{{ item.end_time }} -->
                {% endfor %}
            </div>
            <dialog>
                <div class="container">
                    <article>
                        <h1>{{ month.year }}-{{ month.month }}-{{ day.date.getDate() }}</h1>
                    </article>
                    {% for item in day.events %}
                        <article style="position: relative">
                            <h3>{{ item.label[month.language] }}</h3>
                            <p>{{ item.discription[month.language] | slate | safe }}</p>
                            <p style="position: absolute; top: 2px; right: 2px;">{{ item.start_time }}-{{ item.end_time }}</p>
                        </article>
                    {% endfor %}
                </div>
            </dialog>
        </article>
    {% endfor %}
</div>
