---
pagination:
  data: local.languages
  size: 1
  alias: language
permalink: "{{ language.code }}/contact/"
layout: layout.njk
---
<article>
    <form action="https://formsubmit.co/jjlkoppe@hotmail.com" method="POST"><!-- https://formspree.io/f/mnnvzper -->
        <input type="text" name="name" placeholder="Your name" aria-label="Name" required>
        <input type="email" name="email" placeholder="Your email" aria-label="Email" required>
        <textarea
            name="message"
            placeholder="Your message"
            aria-label="Message"
        ></textarea>
        <button type="submit">Send</button>
    </form>
</article>
