---
pagination:
  data: local.languages
  size: 1
  alias: current
permalink: "{{ current.code }}/groups/"
layout: layout.njk
---
 <table>
  <tr>
    <th>Name</th>
    <th>Disc.</th>
    <th>Monday</th>
    <th>Saturday</th>
  </tr>
  {% for item in local.groups %}
    {% if item.language == current.code %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.discription }}</td>
            <td>{{ item.start_monday }}-{{ item.end_monday }}</td>
            <td>{{ item.start_saturday }}-{{ item.end_saturday }}</td>
        </tr>
    {% endif %}
  {% endfor %}
</table>
