---
pagination:
  data: local.infoPages
  size: 1
  alias: current
permalink: "{{ current.language }}/{{ current.url | slugify }}/"
layout: layout.njk
---
<article>
    <h1>{{ current.title }}</h1>
    {{ current.content | slate | safe }}
</article>
