---
pagination:
  data: local.rolepages
  size: 1
  alias: current
permalink: "{{ current.lang }}/role/{{ current.role | slugify }}/"
layout: layout.njk
---
{% for item in local.roles %}
    {% if item.language == current.lang %}
        {% if current.role == item.role %}
            <article>
                <h1>{{ item.person.name }}</h1>
                {{ item.discription | slate | safe }}
            </article>
        {% endif %}
    {% endif %}
{% endfor %}
