* {
    --pico-table-border-color: #000;
}
[data-theme="dark"] * {
    --pico-table-border-color: #fff;
}
thead th {
    --pico-border-width: 1px !important;
}
@media (max-width: 1023px) {
    table,
    tbody {
        display: contents;
        border-top: var(--pico-border-width) solid
            var(--pico-table-border-color);
        border-bottom: var(--pico-border-width) solid
            var(--pico-table-border-color);
    }
    thead {
        display: none;
    }
    td {
        display: block;
        border-bottom: 0px;
        border-top: 0px;
    }
    tr {
        display: block;
        border-bottom: var(--pico-border-width) solid
            var(--pico-table-border-color);
    }
    td::before {
        content: attr(data-label);
        margin-right: 1em;
    }
}
