@media (max-width: 1203px) {
    article.calander-day {
        aspect-ratio: 0.71; /* ~sqrt(2) */
    }
}
.calander-day {
    padding: 2%;
    aspect-ratio: 1;
    margin: 0 2% 4% 2%;
    overflow: hidden;
    cursor: pointer;
}
dialog:modal {
    max-width: 100vw;
    max-height: 100vw;
}
.link-button {
    text-decoration-line: none;
}
[disabled] {
    opacity: var(--pico-form-element-disabled-opacity);
}
